<!DOCTYPE HTML>
<html>
	<head>
		<title>Generic - Spectral by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../assets/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->

				<!-- Main -->
					<article id="main">
						<header>
							<h2>Article Numero : <%= @article.id %></h2>
							<p>Ici vous pouvez cree votre article </p>
						</header>
						<section class="wrapper style5">
							<div class="inner">

								<h3><%= @article.title %><br></h3>
								 <h4>Auteur: <%= @article.author %></h4><br>
								<!-- <img src=<%= @article.imgurl %> alt="" /><br> -->
								 <p><%= simple_format(@article.text) %></p><br>
								<hr />
								<% if user_signed_in? && current_user.id == @article.user_id %>
								<%= link_to 'Modifie larticle',edit_article_path %>
								<%= button_to 'Supprimer ce article', article_path(@article),method: :delete,data: { confirm: 'Aure?'}%>
								<% else %><br>
										<% if user_signed_in? %>
								sorry <%= current_user.email %> you are not allowed to fuck with this article<br>
										<% else %>
								sorry guest user you are not allowed to fuck with this article<br>
										<% end %>
								<%= link_to 'login sahbi' ,new_user_session_path %>
								<% end %>
							</div>
						</section>

						<section class="wrapper style5">
							<div class="inner">

								<%= render @article.comments %>
								<hr />
							</div>
						</section>

						<section class="wrapper style5">
							<div class="inner">
								<h3>un commentaire<br></h3>
								<%= render 'comments/form' %>

								<hr />
						
							</div>
						</section>

					</article>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copyright </li><li>Design: <a href="http://www.google.fr">BENSEBTI</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->


	</body>
</html>