<!DOCTYPE HTML>
<html>
	<head>
		<title>Generic - Spectral by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../assets/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->

				<!-- Main -->
					<article id="main">
						<header>
							<h2>Article Numero : <%= @article.id %></h2>
							<p>Ici vous pouvez cree votre article </p>
						</header>
						<section class="wrapper style5">
							<div class="inner">

								<h3><%= @article.title %><br></h3>
								 <h4>Auteur: <%= @article.author %></h4><br>
								<!-- <img src=<%= @article.imgurl %> alt="" /><br> -->
								 <p><%= simple_format(@article.text) %></p><br>
								<hr />
								<% if user_signed_in? && current_user.id == @article.user_id %>
								<%= link_to 'Modifie larticle',edit_article_path %>
								<%= button_to 'Supprimer ce article', article_path(@article),method: :delete,data: { confirm: 'Aure?'}%>
								<% else %><br>
								sorry <%= current_user.email %> you are not allowed to fuck with this article<br>
								<%= link_to 'login sahbi' ,new_user_session_path %>
								<% end %>
							</div>
						</section>

						<section class="wrapper style5">
							<div class="inner">

								<h5><% @article.comments.each do |cmt| %><br></h5>
								 <h3><%= cmt.user %></h3>
								 <h5><%= cmt.email %></h5>
								 <%= simple_format(cmt.commentaire) %>
								 <% end %>
								<hr />
							</div>
						</section>

						<section class="wrapper style5">
							<div class="inner">

								<h3><%= form_for([@article, @article.comments.build]) do |f| %><br></h3>
								 <h4>name: <%= f.text_field :user %></h4><br>
								<!-- <img src=<%= @article.imgurl %> alt="" /><br> -->
								 <h4>email: <%= f.text_field :email %></h4><br>
								 <h4>commentaire: <%= f.cktext_area :commentaire %></h4><br>
									<%= f.submit 'commenter' %>
								<% end %>




								<hr />
								<% if user_signed_in? %>
								<%= link_to 'Modifie le commentaire',edit_article_path %>
								<%= button_to 'Supprimer ce commentaire', article_path(@article),method: :delete,data: { confirm: 'Aure?'}%>
								<% else %>
								<%= link_to 'login sahbi' ,new_user_session_path %>
								<% end %>
							</div>
						</section>

					</article>

				<!-- Footer -->
					<footer id="footer">
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
						<ul class="copyright">
							<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->


	</body>
</html>